<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hxl.structure.mapper.CodeValueDao">

    <select id="initAllCodeValue" parameterType="Map" resultType="Map">
  		select codeid, typename, typecode, typevalue, codename from t_code_value
    </select>

</mapper>