@CHARSET "UTF-8";
body{overflow:hidden;}
/*上面板*/
#top{width: 100%; position: absolute; height: 45px; left:0; top:0; right:0; background:#33AECC;}
#top-left{float: left; width:350px; height:45px; line-height: 45px; color:#e6e6e6; font-size:20px;}
#top-right{float: right; width:170px; height: 45px;}
#user-icon{width:40px; height: 40px; margin-top:2px; float: left;}
#user-oper{width:110px; height: 45px; float: left; position: relative; line-height: 45px; margin-left:10px;color: #fff; }
#user-oper h1{font-size: 14px; width: 108px; cursor: pointer; height: 44px;}
#user-oper ul {z-index:10; position: absolute; display: none; cursor: pointer; height: 45px;}
#user-oper ul li{width:108px;float:left; background: #fff; border-left:1px solid #ccc; border-bottom:1px solid #ccc; border-right:1px solid #ccc; height: 35px; line-height: 35px; color: #333; cursor: pointer;}
#user-oper:hover ul{display: block;}
#user-oper:hover h1{background: #fff; color:#33AECC; border-left: 1px solid #ccc; border-right: 1px solid #ccc; border-bottom:1px solid #ccc;}
#user-oper:hover .icon18{background: url(../img/main/icon19.png) no-repeat;}
#user-oper ul li:hover{color:#33AECC;}
/*中间左边导航开始*/
#left{width: 200px; position: absolute; top:45px; left:0; bottom: 0; border-bottom: 0; background:#293038; z-index:11;}
#left-side {width:195px; height: 100%; float: left;}
#left-side h2{color: #c2c2c2; background:#2B2E37; height: 40px; line-height: 40px; cursor: pointer; font-size: 14px; font-weight: normal; float: left; width:196px; padding-left:4px; overflow: hidden;}
#left-side h2:hover{border-left:4px solid #33AECC; padding-left:0; background: #4E5465;}
#left-side ul li{float:left; width:200px; list-style: none; height: 40px; line-height: 40px; position: relative; background: #293038; display: none; color: #fff; cursor: pointer; font-size: 13px}
#left-side h2.on{border-left:4px solid #33AECC; padding-left:0; background: #4E5465;}
/*中间左边三级导航*/
#left-top{height:39px; width:200px; background: #2B2E37; border-bottom: 1px solid #ccc; color:#c2c2c2; line-height:38px; font-size:15px;}
#left-side .side-child h3{font-size: 14px; height: 35px; line-height: 35px; font-weight: normal; padding-left:22px; color: #c2c2c2;}
#left-side .side-menu{max-height: 600px; overflow:hidden; width:150px; color: #c2c2c2; position: absolute; z-index: 11; left: 200px; top: 0; display: none; background: #414D5C}
#left-side .side-menu h4{float: left; width:150px; overflow:hidden; height:40px; text-align: left; color: #ccc; font-size: 12px; font-weight: normal; border-top:1px dotted #ccc;}
#left-side .side-menu h4:hover{color:#fff; text-decoration: none;}
#left-side ul > li:hover {background: #414D5C;}
#left-side ul > li:hover .side-menu{display: block; background: #414D5C; z-index:11;}
#left-side ul > li:hover .icon13{display: none;}
/*收起按钮*/
.arrow-open{background: url(../img/main/icon11.png) no-repeat -4px center #efeef0; border:1px solid #ccc;}
.arrow-open:hover{background:url(../img/main/icon12.png) no-repeat -4px center #33AECC; border:1px solid #ccc;}
.arrow-close{background: url(../img/main/icon14.png) no-repeat -2px center #efeef0; border:1px solid #ccc;}
.arrow-close:hover{background: url(../img/main/icon13.png) no-repeat -2px center #33AECC; border:1px solid #ccc;}
#side-arrow{position: absolute; width: 10px; height: 50px;cursor: pointer; top:45%; left:200px; z-index:2; border-left:0;}
/*中间左边导航结束*/
#tab{position: absolute; left: 200px; top: 45px; height: 39px; right: 0; background: #efeef0; border-left: 1px solid #ccc; overflow:visible;border-bottom: 1px solid #ccc;}
#move_left{position: absolute; z-index:3; left:0; width:35px; height:39px; cursor: pointer; background:#efeef0; border-left:1px solid #ccc; border-right:1px solid #ccc;}
#move_right{position: absolute; z-index:3; right:0; width:35px; height:39px; cursor:pointer; border-left:1px solid #ccc; background:#efeef0; text-align: center;}
#tab ul{position: absolute; left:35px; right:35px; min-width:10000px; z-index:2;}
#tab ul > li{float:left; list-style: none; color: #000; cursor: pointer; padding-left:25px; padding-right:25px; font-size: 14px; height: 39px; line-height: 39px; text-align: center; border-right: 1px solid #ddd; position: relative;}
#tab ul > li i.icon-close{display:none; position: absolute; height:15px; width:15px; right:5px; top:12px; background: url(../img/main/wrong.png) no-repeat;}
#tab ul > li:hover i.icon-close{display: block;}
#tab ul > li.on{background: #fff; color:#33AECC;}
#tab_home{border-left:1px solid #ddd;}
/*中间右边内容开始*/
#right{position: absolute; left:200px; top:85px; bottom:29px; right: 0;}
#right iframe{position: absolute; height: 100%; width:100%; border:0; top:0; background: #fff; display: none; overflow-x: auto;}
#right iframe.on{display: block;}
#bottom{position:absolute; height: 29px; left:200px; bottom:0; right:1px;background: #eee; border-top:1px solid #ccc; font-size:14px; text-align: center; line-height: 29px;}

/*系统图标*/
.icon-logo{display:block; float:left; width:40px; height: 40px; background: url(../img/main/logo.png) no-repeat; margin-top:8px; margin-left:20px;}
.icon1{display:block; float:left; width:16px; height: 16px; background: url(../img/main/icon1.png) no-repeat; margin:12px 10px;}
.icon2{display:block; float:left; width:18px; height: 18px; background: url(../img/main/icon2.png) no-repeat; margin:10px 8px;}
.icon3{display:block; float:left; width:16px; height: 16px; background: url(../img/main/icon3.png) no-repeat; margin:10px 8px;}
.icon4{display:block; float:left; width:20px; height: 20px; background: url(../img/main/icon4.png) no-repeat; margin:10px 8px;}
.icon5{display:block; float:left; width:20px; height: 20px; background: url(../img/main/icon5.png) no-repeat; margin:10px 8px;}
.icon6{display:block; float:left; width:16px; height: 16px; background: url(../img/main/icon6.png) no-repeat; margin:10px 8px;}
.icon7{display:block; float:left; width:16px; height: 16px; background: url(../img/main/icon7.png) no-repeat; margin:10px 8px;}
.icon8{display:block; float:left; width:16px; height: 16px; background: url(../img/main/icon8.png) no-repeat; margin:10px 8px;}
.icon9{display:block; float:left; width:16px; height: 16px; background: url(../img/main/icon9.png) no-repeat; margin:10px 8px;}
.icon10{display:block; float:left; width:16px; height: 16px; background: url(../img/main/icon10.png) no-repeat; margin:12px 8px;}
.icon13{display:block; float:right; width:16px; height: 16px; background: url(../img/main/icon13.png) no-repeat; margin:12px 8px;}
.icon15{display:block; float:left; width:16px; height: 16px; background: url(../img/main/icon15.png) no-repeat; margin:10px 8px;}
.icon16{display:block; float:left; width:16px; height: 16px; background: url(../img/main/icon16.png) no-repeat; margin:10px 8px;}
.icon17{display:block; float:left; width:16px; height: 16px; background: url(../img/main/icon17.png) no-repeat; margin:10px 8px;}
.icon18{display:block; float:left; width:16px; height: 16px; background: url(../img/main/icon18.png) no-repeat; margin:15px 5px;}
.icon20{display:block; float:left; width:16px; height: 16px; background: url(../img/main/icon20.png) no-repeat; margin:10px 8px;}
.icon21{display:block; float:left; width:16px; height: 16px; background: url(../img/main/icon21.png) no-repeat; margin:10px 8px;}
