@CHARSET "UTF-8";
*{margin:0; padding: 0; font-family: "微软雅黑" !important;}
/*谷歌浏览器滚动条*/
::-webkit-scrollbar{width: 5px; height: 10px;}
::-webkit-scrollbar-button:vertical{display: none;}
::-webkit-scrollbar-track, ::-webkit-scrollbar-corner{background-color: #e2e2e2;}
::-webkit-scrollbar-thumb{border-radius: 0; background-color: rgba(0,0,0,.3);}
::-webkit-scrollbar-thumb:vertical:hover{background-color: rgba(0,0,0,.35);}
::-webkit-scrollbar-thumb:vertical:active{background-color: rgba(0,0,0,.38);}
.body{margin-top:5px; margin-left:20px; margin-right:5px; min-width:1024px; overflow: auto;}
.mst{color:red; padding-left:2px;}
.title{background: #efeef0; height: 40px;}
.title .list-btn{float: left; height:30px; margin-top:5px; margin-left:20px;}
/*必填标记*/
.mark1{color:#FF5722; padding:0 3px;}
/*面包屑样式*/
.breadcrumb{height: 40px; line-height: 40px; float: left;}
.breadcrumb .breadcrumb-icon{display: block; width:8px; height: 20px; background: #33AECC; margin-top:11px; margin-left:10px;}
.breadcrumb li{float:left; padding-right:5px; color:#333;}
/*loading样式*/
.load-body{position: absolute; left:0; top:0; width:100%; height: 100%; background:#F8F9FB; filter:Alpha(opacity=50); opacity:0.5; z-index:9; display: none;}
.load-ctn{position: absolute; left:42%; top:40%;; border: 1px solid #ccc; padding:5px 5px; background: red; z-index:10; background:#F8F9FB; display: none;}
.load-icon{background:url(../img/loading-0.gif) no-repeat; width:60px; height:24px; display:block; float:left;}
.load-msg{display: block; float:left; height: 24px; line-height: 24px; font-weight: 500; color:#2c2c2c; padding-right:10px;}
.top-ctn{margin-top:10px;}
/*查询页面*/
.page{font-size:14px; width:700px; margin: 5px auto;}
.page-info{height: 30px; line-height: 30px; float: left; margin-right: 5px;}
.page_ctn,.curr_page,.page_limit{padding:0 5px;}
.page_ctn,.page_limit{color:#009688}
.curr_page{color:#FF5722}